.projectSectionContainer {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    90deg,
    hsl(211deg 70% 40%) 0%,
    hsl(211deg 70% 40%) 25%,
    hsl(233deg 83% 49%) 50%,
    hsl(266deg 95% 57%) 75%,
    hsl(299deg 96% 52%) 100%
  );
}

.projectLink {
  width: 100%;
  flex: 50%;
}

.sectionTitle {
  color: #fff;
  margin-bottom: 50px;
  padding-top: 50px;
  font-weight: bold;
  font-size: 4rem;
  font-family: "Outfit", sans-serif;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  padding: 30px 30px 50px 30px;
}

.projectImg {
  min-width: 300px;
  max-width: 450px;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  /* padding: 10em; */
  /* border: 2px solid white; */
}

.projectImg:hover {
  box-shadow: 10px 5px 5px #6be0e4;
  transition: all 0.3s ease-in-out;
}
.projectName {
  color: #fff;
}

@media (min-width: 0) and (max-width: 576px) {
  .projectContainer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .projectImg {
    min-width: 200px;
    max-width: 450px;
    width: 90%;
    height: 90%;
  }
}
